@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  scroll-behavior: smooth;
}

a {
  // color: #fff;
  // list-style: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #fff;
}
input {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}
button {
  // box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
}

body::-webkit-scrollbar {
  display: none;
}

header,
section,
footer,
aside,
main,
article,
figure {
  display: block;
}
