.sub_edit {
  padding-top: 1rem;

  .form-check-label {
    font-weight: bold;
    letter-spacing: 0.72px;
    font-size: 1.1rem;
    color: #141414;
    margin-left: 0.8rem;
  }

  .form-check-input {
    width: 1.1rem;
    height: 1.1rem;
  }

  .policy_text {
    label {
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  .add_staff {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;

    p {
      font-size: 0.8em;
      color: black;
      padding-right: 0.5em;
      font-weight: 600;
    }

    input {
      width: 5em;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #b7b7b7;
      padding-left: 0.5em;

      &:hover {
        box-shadow: none;
        border: 1px solid #b7b7b7;
      }
    }
  }

  .staff_price {
    font-weight: bold;
    letter-spacing: 0.72px;
    font-size: 1rem;
    color: #141414;
    margin-left: 2.1rem;
  }

  .span_bold {
    font-weight: 600;
  }

  .downgrade {
    font-size: 0.9rem;
    color: red;
  }
  .upgrade {
    font-size: 0.9rem;
    color: #11a54c;
  }

  .refund_money {
    display: flex;
    align-items: center;

    @media screen and (max-width: 425px) {
      font-size: 15px;
    }

    .info {
      color: #0764b0;
      margin-left: 5px;
    }
  }

  .th_new_plan {
    width: 12em;
  }
  .th_plan_name {
    width: 225px;
  }

  @media screen and (max-width: 425px) {
    .th_name {
      width: 160px;
    }
    .th_new_plan {
      width: 150px;
    }
    .th_plan_name {
      width: 150px;
    }
    .th_total_price {
      width: 290px;
    }

    .btn {
      width: 100%;
    }
    .btn.btn_save {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}

.sub_info {
  padding-top: 1rem;

  td:first-child {
    font-weight: 600;
    color: #1a1a1a;
    letter-spacing: 0.26px;
  }
  .price {
    font-weight: 600;
  }

  .th_plan_name {
    width: 190px;
  }
  .th_paid {
    width: 130px;
  }

  .thead_billing th {
    width: 25%;
  }

  .sub_mobile {
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 1rem;
    }

    hr {
      margin: 0.5rem;
    }

    .sub_plan_mobile {
      padding: 0.5rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 425px) {
    .btn.btn_cancel {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .thead_billing {
      .trans_id {
        width: 130px;
      }
      .name {
        width: 190px;
      }
    }
    .action-btn p {
      width: 140px;
    }
  }

  @media screen and (max-width: 1024px) {
    .action-btn {
      width: 140px;
    }
  }
}
