.sub_edit {
  padding-top: 1rem;

  .form-check-label {
    font-weight: bold;
    letter-spacing: 0.72px;
    font-size: 1.1rem;
    color: #141414;
    margin-left: 0.8rem;
  }

  .form-check-input {
    width: 1.1rem;
    height: 1.1rem;
  }
}

.sub_info {
  padding-top: 1rem;

  td:first-child {
    font-weight: 600;
    color: #1a1a1a;
    letter-spacing: 0.26px;
  }

  .price {
    font-weight: 600;
  }
}
