@mixin row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin btn-apply() {
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: white !important;
  background: #1366ae !important;
  border-radius: 3px !important;
}

@mixin btn-date() {
  background: white !important;
  color: #585858 !important;
  font-weight: 400 !important;
  position: relative;
  width: 139px !important;
}

.button_select_date {
  @include btn-date();
  & > img {
    width: 24px !important;
    height: 24px !important;
    object-fit: contain;
    margin-left: 10px;
  }
  &_expand {
    @include btn-date();
    width: 239px !important;
  }
}

.popupDate {
  width: 200px;
  padding-bottom: 1rem;
  border-radius: 5px;
  &_rowSelect {
    margin-left: 1rem;
    margin-top: 1rem;
    color: #585858;
    font-weight: 400;
  }
  &_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 99999;
    left: -5px;
    top: 57px;
    background: white;
    border: 0.3px solid #dddddd;
  }
  &_custom {
    width: 400px;
    background: white;
    border: 0.5px solid #dddddd;
    border-left: 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &_show {
    height: auto;
  }
  &_hide {
    height: 0px;
  }
}

.DayPicker-Caption > div {
  display: none;
}

.daypicker-container {
  background: #fafafa;
}

.daypicker-renderDay {
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &-picked {
    position: absolute;
    color: white;
    background: #1366ae;
    width: 30px;
    height: 30px;
    font-weight: 600;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
  }
}

.daypicker-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem;
  padding: 0px 15px;
  & > span {
    font-weight: 600;
    color: #1366ae;
    font-size: 0.9rem;
  }
  & > img {
    width: 24px;
    height: 24px;
  }
}

.DayPicker-Weekdays {
  border-top: 1px solid #eeeeee !important;
  border-bottom: 1px solid #eeeeee !important;
  margin-top: -1rem !important;
}

.DayPicker-Month {
  margin-top: 0.5em !important;
}

.DayPicker-Weekday {
  color: #333 !important;
  font-size: 0.7rem !important;
}

.popupCustom_container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.daypicker-input {
  width: 100px;
  border: 1px solid #dddddd;
  display: flex;
  padding: 8px 10px;
  position: relative;
  & > input {
    width: 80px;
    border: 0px !important;
    font-size: 0.7rem;
  }
  &-container {
    @include row();
    margin-top: 1rem;
    margin-bottom: 1rem;
    & > span {
      background: transparent;
      margin: 0px 15px;
    }
  }
}

.daypicker-btn-apply {
  @include btn-apply();
  &-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  &-disabled {
    @include btn-apply();
    background: #f1f3f4 !important;
    color: #585858 !important;
    border: 0px !important;
  }
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.react-slidedown {
  transition-duration: 0.2s !important;
  transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
  overflow-x: hidden !important;
}

.error-input-date {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  position: absolute;
  left: 0px;
  top: 29px;
}
