$blue: #1b68ac;
$black: #404040;

.orderDetail_blue {
  color: $blue !important;
  font-weight: 600 !important;
}

.orderAccount {
  margin-top: 1rem;
  &_container_info {
    width: 98%;
    background: #f6f6f6;
    padding: 15px;
  }
}

.title {
  font-size: 1.1rem;
  color: $black;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rowInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.3rem;
  & > p {
    font-size: 1rem;
    color: #585858;
  }
}

.commentText {
  & > p {
    font-size: 1rem;
    color: #404040;
  }
  & > div {
    width: 90%;
    min-height: 5rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

.img_order_retailer {
  width: 50px;
  height: 50px;
}

.td_img_product {
  display: flex;
  flex-direction: row;
}

.sku_product_retailer {
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.td_order_product {
  font-weight: 600;
  color: #404040;
  padding-top: 1rem;
}

.table_items_ordered .rt-td {
  border-right: 0px !important;
}

.table_items_ordered .rt-tr-group {
}

.table_items_ordered {
  border: 0px !important;
}

.table_items_ordered .table-tr {
  font-size: 0.9rem !important;
  color: #585858 !important;
  letter-spacing: 0.3px;
}
