$blue: #1b68ac;
$black: #404040;

.oderDetail {
  &_title {
    font-size: 1.2rem;
    color: $blue;
    font-weight: 700;
    padding-bottom: 0.4rem;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-top: 1.3rem;
  }
}

.orderDetail_blue {
  color: $blue !important;
  font-weight: 600 !important;
}

.orderAccount {
  margin-top: 1rem;
  &_container_info {
    width: 95%;
    background: #f6f6f6;
    padding: 15px;
  }
}

.title {
  font-size: 1.1rem;
  color: $black;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rowInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.3rem;
  & > p {
    font-size: 1rem;
    color: #585858;
  }
}

.commentText {
  & > p {
    font-size: 1rem;
    color: #404040;
  }
  & > div {
    width: 90%;
    min-height: 5rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
}
