.title_business {
  font-size: 1.33rem;
  font-weight: 600;
  margin-left: 1rem;
}

.qty_business {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  border-radius: 300px;
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  margin-top: 0.08rem;
}
