.edit_info {
  .toggle_box {
    font-size: inherit;
    box-shadow: none;
    background: #f5f5f5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    padding: 1rem 0.7rem;
    border-radius: 3px;
    width: 100%;

    span {
      background-color: black;
      border-radius: 50%;
      color: white;
      font-size: 1rem;
      margin-left: 0.6rem;
      padding: 0.1em 0.6em;
    }

    h3 {
      padding-top: 0 !important;
      margin-bottom: 0;
      margin-left: 0.8rem;
      letter-spacing: 0.55px;
    }
  }

  .app__content {
    padding: 25px 20px;

    .title {
      color: #1a1a1a;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .info_label {
      letter-spacing: 0.26px;
      color: #333333;
    }

    .info_text {
      letter-spacing: 0.26px;
      color: #1a1a1a;
      font-weight: bold;
      padding-top: 0.7em;
    }

    .form_required {
      color: red;
    }

    .form-control {
      border-radius: 0px !important;
    }

    label {
      font-weight: bold;
      letter-spacing: 0.48px;
    }

    .fade_label {
      color: #888888;
      letter-spacing: 0.26px;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}
