.my_account {
  padding-top: 1rem;

  h1 {
    font-size: 2.3rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    padding-top: 0.8em;
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}
