.top_features {
  background-color: $blue-0;
  height: 20rem;
  // padding: 6.25rem auto;
  margin-bottom: 6.25rem;
  &-title {
    font-size: $fs-title;
    letter-spacing: $title-0;

    margin-bottom: $m-6;
  }

  &-text {
    max-width: 50rem;
    font-size: 1rem;
    letter-spacing: 0px;
  }
}

.bot_features {
  .bot_features-item {
    height: 33.25rem;
    padding: 2.4rem;
    margin-bottom: 6.25rem;
    border: 1px solid white;
    border-radius: 0 !important;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  &-img {
    // padding-top: $p-7;
    margin-bottom: 3.75rem;
    .bot_features--img {
      max-width: 12.5rem;
      max-height: 12.5rem;
    }
  }
  &-title {
    color: $blue-0;
    font-size: 1.3125rem;
    letter-spacing: 0px;
    margin-bottom: $m-6;
  }

  &-text {
    color: $brown-0;
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
  }
  &-button {
    background-color: $white-0;
    font-size: 1.3125rem;
    font-weight: $fw-2;
    color: #111;
    letter-spacing: 0px;
    border: none;
  }
  &-button:active,
  &-button:hover {
    background-color: transparent;
    color: #111;
    .learn-more {
      transform: translate(5px);
      transition: $transition-0;
    }
  }
}
