.devices__banner {
  background: url("../../../assets/images/img/Device/banner.jpeg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 33.75rem;
  @media screen and (max-width: 1640px) {
    height: 30rem;
  }
  @include mediaQueryMax("xxl") {
    height: 25.75rem;
  }
  @include mediaQueryMax("extra-large") {
    height: 19.5rem;
  }
  @include mediaQueryMax("large") {
    height: 14.6rem;
  }
  @include mediaQueryMax("medium") {
    height: 14rem;
  }
  @media screen and (max-width: 576px) {
    height: 10rem;
  }
  @media screen and (max-width: 420px) {
    height: 13rem;
  }
  @media screen and (max-width: 375px) {
    height: 12rem;
  }
  @media screen and (max-width: 375px) {
    height: 10rem;
  }
}
