.devices__banner {
  background: url("../../../assets/images/Devices/Pricing banner-01.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 33.75rem;
}
