.contact__home {
  background-color: #fafafa;
  background-image: url("../../assets/images/contact/contact.jpg");
  max-height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30rem;
  @include mediaQueryMax("medium") {
    max-height: 70rem;
  }
  @media screen and (max-width: 345px) {
    margin-bottom: 31rem;
  }
  &-item {
    padding-top: 8rem;
  }
  &-img {
    width: 100%;
    max-height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #002d53 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 0.57;
  }
}
