.home_banner2 {
  height: 51.625rem;
  width: 100%;
  background: transparent url("../../../assets/images/Banner\ 2.png") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 6.25rem;
  // @include mediaQueryMax("xxl") {
  //   height: 48rem;
  // }
  // @include mediaQueryMax("extra-large") {
  //   height: 40rem;
  // }
  // @include mediaQueryMax("large") {
  //   height: 30rem;
  // }
  // @include mediaQueryMax("medium") {
  //   height: 28rem;
  // }
  // @include mediaQueryMax("xs") {
  //   height: 21rem;
  // }
  @media screen and (max-width: 1440px) {
    height: 42rem;
  }
  @media screen and (max-width: 1024px) {
    height: 32rem;
  }
  @media screen and (max-width: 768px) {
    height: 26rem;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 0rem;
  }
  @media screen and (max-width: 425px) {
    height: 14rem;
  }
  @media screen and (max-width: 375px) {
    height: 12rem;
  }
  &__content {
    padding: 6.5rem 1.5rem;
    @include mediaQueryMax("extra-large") {
      padding: 3.5rem 1.5rem;
    }
    @include mediaQueryMax("large") {
      padding: 2rem 1.5rem;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 4.25rem;
    }
  }
  // &-img {
  //   @include mediaQueryMax("small"){

  //   }
  // }
  &-title {
    color: $blue-0;
    letter-spacing: $title-0;
    font-size: $fs-title;
    margin-bottom: $m-6;
    @include mediaQueryMax("large") {
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }
  }

  &-text {
    max-width: 62.5rem;
    @include mediaQueryMax("large") {
      font-size: 0.9rem;
    }
    @include mediaQueryMax("small") {
      display: none;
    }
  }
  &-btn {
    top: 30%;
  }

  &-icon {
    width: 2rem;
    height: 2rem;
    color: $blue-0;
    // border: 1px solid $blue-0;
    //   border-radius: 50%;

    cursor: pointer;
    &:hover {
      // border: 1px solid $blue-0;
      // border-radius: 50%;
      transform: scale(1.1);
      transition: $transition-0;
    }
  }
}
.video-modal-body {
  height: 35rem;
}
.modal-body {
  padding: 0;
}
