.table_row_status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 100px;
  border-radius: 300px;
  background: blue;
  color: white;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.btnFilter{
  width : 150px;
  height : 43px;
  border : 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left : 10px;
  padding-right : 10px;
  cursor: pointer;
}

.btn-reset-filter{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #585858;
  background: #dddddd;
  font-weight: 600;
  font-size: 1rem;
  width: 140px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  margin-left: 45px;
}

.slide-pane__overlay{
  z-index: 9999999999999999 !important;
}

.headerFilter {
  display : "flex";
  flex-direction : "row";
  justify-content : "space-between";
  color : #333;
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom : 1px solid #dddddd;
  padding-bottom: 1rem;
}

.topFilter{
  height: 90%;
  display: "flex"; 
  flex-direction: "column"; 
  align-items: "center";
}

.containerFilter{
  display: "flex"; 
  flex: 1;
  flex-direction: "column";
  position: "relative"; 
  height: 97vh;
  justify-content: "space-between";
  z-index: 99999999999999999;
  pointer-events: unset;
}

.iconFilter{
  width: 20px; 
  height: 20px;
  position: absolute;
  right: 30px;
  top : 28px;
  cursor: pointer;
}