.table_row_status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100px;
  border-radius: 300px;
  background: blue;
  color: white;
  font-size: 0.85rem;
}
