.investor_banner {
  height: 30rem;
  background-image: url("../../../assets/images/img/AboutUs/aboutus.jpg");
  background-size: cover;
  background-position: right;
  border: 1px solid #707070;
  @include mediaQueryMax("xxl") {
    height: 26rem;
  }
  @include mediaQueryMax("extra-large") {
    height: 20rem;
  }
  @include mediaQueryMax("large") {
    height: 15rem;
  }
  @include mediaQueryMax("medium") {
    height: 12rem;
  }
  &-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  &-title {
    letter-spacing: $title-0;
    font-size: $fs-title;
    position: relative;
    // margin-bottom: 1rem;
    @include mediaQueryMax("large") {
      font-size: 2rem;
    }

    &::after {
      content: "";
      width: 70%;
      height: 5px;
      position: absolute;
      background-color: $blue-4;
      left: 15%;
      bottom: -1rem;
    }
  }
}
