.sub {
  padding-top: 1rem;

  .plan_name {
    font-weight: 600;
  }

  .table td,
  .table th {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
  }

  @media screen and (max-width: 1024px) {
    .th_plan {
      width: 150px;
    }
    .th_mer_id {
      width: 110px;
    }
    .th_name {
      width: 150px;
    }
    .th_pay_date {
      width: 180px;
    }
    .th_action {
      width: 120px;
    }
  }

  .sub_mobile {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;

    &:nth-child(1) {
      margin-top: 0;
    }

    p {
      width: 50%;
      padding: 4px 0;
    }

    .sub_name {
      font-weight: 600;
    }

    p:nth-child(2n + 2) {
      text-align: right;
    }

    .text_btn {
      background-color: transparent;
    }
    .text_btn.cancel_btn {
      padding-right: 0;
    }
  }
}
