.divices__container {
  max-width: 88.625rem;
  margin: 4.25rem auto;
  @media screen and (max-width : 800px){
    margin-top : 1rem;
  }

  @media screen and (max-width : 450px){
    margin-top : 0rem;
  }
}
.divices__item {
  margin-bottom: 6.25rem;
  &--img {
    max-width: 85%;
  }
  &--phone {
    max-width: 80%;

    @include mediaQueryMax("medium") {
      max-width: 35%;
    }
  }
  &--title {
    letter-spacing: $title-0;
    font-size: $fs-title;
    margin-bottom: 6.25rem;
    @include mediaQueryMax("large") {
      font-size: 2rem;
    }
    @media screen and (max-width : 600px){
      margin-bottom : 2rem;
      font-size: 30px;
    }
  }
  &--text {
    letter-spacing: 0.26px;
    color: $black-3;
    margin-bottom: 5rem;
  }
  &--title2 {
    color: $blue-0;
    letter-spacing: $title-1;
    font-size: $fs-text-banner;
    margin-bottom: 1.75rem;
  }
  &--text2 {
    letter-spacing: 0.27px;
    color: $black-3;
    margin-bottom: 3rem;
  }
  &--subtitle {
    font-size: 1.4375rem;
    letter-spacing: 0.64px;
    color: #1a1a1a;
    margin-bottom: 1.75rem;
  }
  &--btn {
    color: $blue-0;
    background: #ffffff00 0% 0% no-repeat padding-box;
    border: 1px solid $blue-0;
    cursor: pointer;
    padding: 1rem 3.75rem; 
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out ;
    &:hover {
      background-color: $blue-0;
      color: #fff;
      transform: $transition-0;
    }
  }
}
.row__size {
  margin-bottom: 6.25rem;
}

.divices__bot-hr {
  width: 100%;
  border-top: 2px solid $blue-0;
  margin-top: 0;
  margin-bottom: 3.75rem;
}

.xs-d-flex {
  @include mediaQueryMax("medium") {
    display: flex;
    justify-content: center;
  }
}

.divices__bot {
  &-item {
    margin-bottom: 6.25rem;
  }
  &-title {
    color: $black-2;
    font-size: $fs-text-banner;
    letter-spacing: $title-1;
    margin-bottom: 1.5rem;
  }

  &-card {
    border: none;
    &--img {
      max-width: 22.5rem;
    }
    &--img1 {
      max-width: 22.5rem;
      @media screen and(max-width:576px) {
        max-width: 15rem;
      }
    }
    &--title {
      letter-spacing: 0.2rem;
      font-size: 1.4375rem;
      font-weight: 600;
      color: #707070;
      margin-bottom: 1.5rem;
      line-height: 2rem;
      
      @include mediaQueryMax("large") {
        letter-spacing: 0rem;
      }
      @media screen and(max-width:768px) {
        font-size: 1.35rem;
      }

      &--clover{
        color: #000;
      }
    }

    &--title2 {
      font-size: 0.9375rem;
      font-weight: 600;
      letter-spacing: 0.42px;
      color: #111111;
      // @include mediaQueryMax("large") {
      //   font-size: 1.2rem;
      // }
    }
    &--text1 {
      height: 35px;
    }
    &--ul {
    }
    &--li {
      letter-spacing: 0.45px;
      color: #1a1a1a;
      margin-bottom: 1.5rem;
    }
    &--color {
      -webkit-appearance: none;
      appearance: none;
      border: 1px solid #111;
      width: 32px;
      height: 32px;
      cursor: pointer;
      &:focus {
        width: 35px;
        height: 35px;
        transition: $transition-0;
      }
    }
  }
}
