.top_header {
  background-color: $blue-0;
  color: $white-0;
  .telephone {
    display: flex;
    align-items: center;
    float: right;

    a {
      color: white;
      padding-left: 8px;
    }
  }

  .flag {
    width: 1.4em;
    margin-top: 5px;
  }

  .form-control {
    background-color: $blue-0;
    color: $white-0;
    border: 0px;
  }
}
