.top_header {
  background-color: $blue-0;
  color: $white-0;
  font-size: 1rem;
  font-weight: 200;
  // position: sticky;
  //   top: 0;
  //   z-index: 1020;
  .col__auto {
    @media screen and(min-width:426px) {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
  .col__signin {
    @media screen and(max-width:425px) {
      display: flex;
      justify-content: center;
      border-right: 1px solid #00000026;
    }
  }
  .col__phone {
    @media screen and(max-width:425px) {
      display: flex;
      justify-content: center;
      border-right: 1px solid #00000026;
    }
  }

  .sign_in {
    display: flex;
    align-items: center;
    float: right;
    cursor: pointer;

    img {
      height: auto;
    }
  }
  .isMobile {
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .telephone {
    display: flex;
    align-items: center;
    float: right;
    color: white;

    a {
      color: white;
      padding-left: 0.5rem;
    }
  }

  .flag {
    width: 2.1em;
    margin-top: 5px;
  }

  .form-control {
    background-color: $blue-0;
    color: $white-0;
    border: 0px;
  }
}

.nav_header {
  // position: sticky;
  //   top: 39px;
  //   z-index: 1020;
  .nav-item {
    padding: 0 0.5rem;

    @include mediaQueryMax("xxl") {
      padding: 0;
    }
    @include mediaQueryMax("medium") {
      padding: 0.4rem;
    }
  }

  padding: 1rem;

  img {
    width: 10em;
    height: auto;
  }

  .nav-NavLink {
    font-size: 1rem;
    margin-left: 1em;
    color: #707070;
    letter-spacing: 0.9px;
    font-weight: 500;
    transition: clip-path 275ms ease;
    @media only screen and (max-width: 1378px) and (min-width: 1200px) {
      font-size: 0.94rem;
    }

    &:hover {
      color: #0764b0;
      padding-bottom: 1.9rem;
      border-bottom: 3px solid #0764b0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      @media screen and (max-width: 1200px) {
        padding-bottom: 0.4rem;
      }
    }

    @media (max-width: 1200px) {
      margin: 0;
    }
  }

  .sign_up {
    a {
      color: $white-0 !important;
      padding: 13px 30px;
      background-color: $blue-0;
      font-weight: 500;
    }

    a:hover {
      height: 0px !important;
      border-bottom: 0px;
      padding: 13px 30px;
    }
  }

  .active_link {
    color: #0764b0;
    position: relative;
    font-weight: 600;
    padding-bottom: 1.9rem;
    border-bottom: 3px solid #0764b0;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 3px;
    //   background-color: #0764b0;
    //   bottom: -2.1rem;
    //   // clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    //   // transition: clip-path 275ms ease;
    // }

    // padding-bottom: 2.2rem;
    // border-bottom: 3px solid #0764b0;

    @media (max-width: 1200px) {
      // padding-bottom: 0px;
      // border-bottom: 0px;
      // &::before {
      //   bottom: -0.5rem;
      //   height: 0px !important;
      //   border-bottom: 0px;
      // }
      padding-bottom: 0.4rem;
    }
  }

  // @media screen and (max-width: 425px) {
  //   padding: 0 1rem;
  // }
  .merchant_nav:active {
    // &::before {
    //   height: 0px !important;
    // }
    border-bottom: none;
  }
}
.sign_in_link {
  color: #0868b0;
  cursor: pointer;

  &:hover {
    color: $blue-1;
    text-decoration: underline;
  }
}
.modal-sign-in {
  .modal-content {
    @include mediaQueryMax("small") {
      max-width: 20rem;
      margin: auto;
    }
  }
}
.modal-body-signin {
  .sign_in__title {
    font-size: 1.625rem;
    letter-spacing: 0.65px;
    color: #000000;
  }
  .sign__text {
    color: $black-2;
    letter-spacing: 0;
    margin-bottom: 1.75rem;
  }
  .form_required {
    color: red;
  }
  .form-control {
    padding: 1rem;
    height: auto;
    border-radius: 0px;
  }
  label {
    font-weight: 600;
  }
  .form__show-password--container {
    position: absolute;
    right: 2px;
    top: 8%;
    z-index: 99;
    .form__show-password {
      border: none;
      padding: 0.5rem;
      background-color: #fff;
      color: gray;
    }
  }

  .submit_btn {
    margin-top: 0.7rem;
    // width: 100%;
    border-radius: 0px;
    padding: 0.75rem 3.5rem;
    background-color: #0764b0;
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: 0.36px;
    margin-right: 10px;
    &:hover {
      background-color: $blue-1;
      transition: $transition-0;
    }

    @include mediaQueryMax("small") {
      padding: 0.5rem 1.8rem;
    }
    @media screen and (max-width: 330px) {
      padding: 0.5rem 1.5rem;
    }
  }
  .loadingBtn {
    font-size: 0.9rem;
  }
}
.navbar-collapse {
  display: flex;
}
