.carousel {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  &__title {
    color: $black-2;
    letter-spacing: $title-0;
    font-size: $fs-title;
    margin-bottom: $m-6;
  }
  &__text {
    color: $black-3;
    letter-spacing: $text-2;
    margin-bottom: 3.75rem;
  }
  &__container {
    max-width: 85.625rem;
  }
  &__card {
    border: none;
    box-shadow: 0px 0px 10px #00000029;
    border-bottom: 1px solid #00000029;
  }
  &__card-title {
    font-size: 1.125rem;
    letter-spacing: 0.36px;
    color: #1a1a1a;
    margin-bottom: 1.25rem;
  }
  &__card-text {
    letter-spacing: 0.26px;
    color: #888888;
    margin-bottom: 1.5rem;
  }
  &__card-pricing {
    letter-spacing: 0.64px;
    color: #11a54c;
    font-weight: bold;
    font-size: 1.4375rem;
  }
}
