.contact {
  max-width: 85.625rem;
  &__container {
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 10px;
    // padding: $p-7 4.375rem;
  }
  &__form {
    padding: $p-7 4.375rem;
    border-radius: 10px 0px 0px 10px;
    @include mediaQueryMax("large") {
      padding: $p-7 2.5rem;
    }
    @include mediaQueryMax("medium") {
      border-radius: 10px;
    }
    &-title {
      color: $blue-0;
      letter-spacing: $title-0;
      font-size: $fs-title;
      margin-bottom: 1rem;
      @include mediaQueryMax("large") {
        font-size: 2rem;
      }
    }
    &-text {
      color: $blue-0;
      margin-bottom: 1.75rem;
    }
    .form_required {
      color: red;
    }
    .form-control {
      padding: 1rem;
      height: auto;
      border-radius: 0px;
    }
    label {
      font-weight: 600;
    }
    .submit_btn {
      margin-top: 0.7rem;
      // width: 100%;
      border-radius: 0px;
      padding: 0.75rem 2.1rem;
      background-color: #0764b0;
      color: #fff;
      font-size: 1.125rem;
      letter-spacing: 0.36px;
      @media screen and (max-width: 375px) {
        padding: 0.75rem 1.8rem;
      }

      &:hover {
        background-color: $blue-1;
        transition: $transition-0;
      }
    }
  }
  &__info {
    background-color: $blue-0;
    border-radius: 0px 10px 10px 0px;
    @include mediaQueryMax("medium") {
      border-radius: 10px;
    }
    &-item {
      padding-top: 3.75rem;
    }
    &-icon {
      border: 1px solid 002d53;
      background: #002d53 0% 0% no-repeat padding-box;
    }
    &-text {
      max-width: 23.125rem;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
    &-divider {
      width: 90%;
      height: 1px;
      border-top: 1px solid #04579b;
      margin-top: 1.5rem;
      // margin-bottom: $p-7;
    }
  }
}
.nav_header {
  .modal-content {
    text-align: left;
  }
}
