.container-loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.modalBackdrop{
  background: rgba(255, 255, 255, 0.5);
}

.modalContentLoading{
  background : transparent;
  border : none;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrap{
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}