.edit_account {
  padding-top: 1rem;

  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.36px;
  }

  h3 {
    font-size: 1.5rem;
    padding-top: 0.8em;
    font-weight: 600;
    letter-spacing: 0.46px;
  }

  p {
    margin: 0;
    letter-spacing: 0.26px;
  }

  hr {
    margin-top: 0.8rem;
  }

  .edit_account_form {
    label {
      font-weight: 600;
      letter-spacing: 0.48px;
    }
    .form_required {
      color: red;
    }

    .form-control {
      padding: 10px;
      height: auto;
    }

    .edit_account_checkbox {
      display: flex;
      align-self: center;

      .form-check-input {
        border-radius: 0;
        width: 1.5em;
        height: 1.5em;
        background-color: #fff;
      }

      .form-check-label {
        color: #333333;
        font-size: 1rem;
        margin-left: 0.7rem;
        padding-top: 0.3rem;
        letter-spacing: 0.45px;
        font-weight: normal;
      }
    }

    .submit_btn {
      padding: 0.6rem 3.6rem;
      border-radius: 0;
      background-color: #0764b0;
      color: #ffffff;

      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }
  }

  .error-feedback {
    color: #dc3545;
    font-size: 80%;
    margin-top: 0.25rem;
    width: 100%;
  }
}
.show_password-container {
  position: relative;
}
.show_password-btn {
  position: absolute;
  top: 20%;
  right: 2%;
  border: none;
  background: #fff;
  color: gray;
}
