//Color

$black-0: #000;
$black-1: #222;

$white-0: #fff;

$blue-0: #0764b0;
$blue-1: #04579b;
$blue-2: #002d53;

//Font size

//Font weight
$fw-normal: normal;
$fw-0: 400;
$fw-1: 500;
$fw-2: 700;
$fw-bold: bold;

//Margin

//Padding

//Border-radius

//Line-height

//transition
$transition-0: all 0.35s ease-in-out;

//Break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
