//Color

$black-0: #000;
$black-1: #222;
$black-2: #111;
$black-3: #333;

$white-0: #fff;
$white-1: #fafafa;

$blue-0: #0764b0;
$blue-1: #04579b;
$blue-2: #002d53;
$blue-3: #0f6ed9;
$blue-4: #00ffe5;
$blue-5: #0868b0;

$brown-0: #606060;
$brown-1: #888888;
$brown-5: #685967;

$gray-0: #ffffff00;

//Font size
$fs-title-banner: 3.7rem;
$fs-text-banner: 1.625rem;
$fs-title: 2.5625rem;
$fs-text-button: 1.3125rem;

//Font weight
$fw-normal: normal;
$fw-0: 300;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-bold: bold;

//Margin
$m-6: 1.25rem;
$m-7: 2.5rem;

//Padding
$p-6: 1.25rem;
$p-7: 2.5rem;

//Border-radius

//Line-height

//Letter-spacing
$title-0: 0.1025rem;
$title-1: 0.051875rem;
$text-0: 0.0425rem;
$text-2: 0.01625rem;

//transition
$transition-0: all 0.35s ease-in-out;

//Break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 767px,
  "small": 576px,
);
