.package {
  &__title {
    letter-spacing: $title-0;
    font-size: $fs-title;
    // margin-bottom: $m-6;
    //margin__text:
    margin-bottom: 1.75rem;

    @include mediaQueryMax("large") {
      font-size: 2rem;
      margin-bottom: 1.25rem;
    }
  
  }

  &__header{
    padding-top: 4.75rem;
    background : #E7EFF6;
  }

  &__subTitle{
    color : #404040 !important;
    margin-bottom: 3.75rem;
    margin-left: 3rem;
    margin-right: 3rem;

    @include mediaQueryMax("large") {
      font-size: 0.9rem;
    }
  }

  &__subItem{
    justify-content: center;    
    margin : 3rem 16px;
    
  }

  &__name{
    width: 100%;
    background : white;
    border-radius: 5px 5px 0px 0px;
    border-top : 10px solid #2B62AA;
    height : 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0px 16px;
    cursor: pointer;

    &:hover {
      opacity: 1 !important;
    }

    h3 {
      color : #000;
      text-align: center;
      font-weight : 800;
      font-size: 24px;
      @media screen and (max-width: 860px) {
        font-size: 20px;
        line-height: 26px;
      }

      @media screen and (max-width: 500px) {
        font-size: 18px;
      }
    }
  }

  &__text {
    margin-bottom: 3.75rem;
    @include mediaQueryMax("large") {
      margin-bottom: 3rem;
    }
  }
  .package__col {
    display: flex;
    width: 100%;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
    @media screen and (max-width: 1100px) {
      flex-direction: column; 
    }
  }

  .package__item__group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 960px) {
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      // padding-left : 15px;
      // padding-right: 15px;
      
    }
  }

  &__container {
    max-width: 85.625rem;
    padding-left: 15px;
    padding-right: 15px;
    .package__item {
      border-radius: 3px 3px 0px 0px;
      min-height: 50rem;
      width: 100%;
      @media screen and (max-width: 1000px) {
        // height: 36rem;
      }
      @media screen and (max-width: 600px) {
        // height: 30rem;
        
      }
      @media screen and (max-width: 425px) {
        height: auto;
      }
      @media screen and (max-width: 816px) {
        min-height: 40rem;
    }
      &--title {
        font: normal normal bold 48px/58px Roboto;
        letter-spacing: 0px;
        color: #11a54c;
        margin-bottom: 1rem;
        @include mediaQueryMax("large") {
          font-size: 1.8rem;
        }
      }
      &--text {
        // max-width: 17.875rem;
        margin-top: 1.5rem;
        letter-spacing: 0.32px;
        color: #606060;
        @media screen and (max-width: 600px) {
          text-align: center;
        }
      }
      &--sub {
        font: normal normal normal 24px/29px Roboto;
        letter-spacing: 0px;
        color: #11a54c;
      }
      &--cardbody {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
      }
      &--btn {
        margin: 20px auto;
        width : 100%;
        text-align: center;
        font: normal normal 600 16px/22px Open Sans;
        letter-spacing: 0.32px;
        color: #ffffff;
        background-color: $blue-0;
        cursor: pointer;
        padding: 1rem 2.5rem;
        // @include mediaQueryMax("large") {
        //   padding: 0.7rem 1.12rem;
        // }

        &:hover {
          background-color: $blue-1;
          color: #fff;
          transform: $transition-0;
        }
      }
    }
  }
  &__features {
    background: #f1f1f1 0% 0% no-repeat padding-box;
    border: 1px solid #cccccc;
    font: normal normal bold 26px/40px Open Sans;
    letter-spacing: 0px;
    color: #111111;
    padding: 1.25rem;
    margin: auto;
    text-align: center;
    @media screen and (max-width: 425px) {
      display: none;
    }
    &--row {
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
    &--title {
      border: 1px solid #cccccc;
      color: #1a1a1a;
      letter-spacing: 0.04rem;
      font-weight: 600;
      font-size: 1.4375rem;
      padding: 1.5rem;
      @include mediaQueryMax("large") {
        font-size: 1.33rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
    &--title1 {
      border: 1px solid #cccccc;
      color: #1a1a1a;
      letter-spacing: 0.04rem;
      font-weight: 600;
      font-size: 1.4375rem;
      padding: 1.5rem;
      @include mediaQueryMax("large") {
        padding: 0rem;
        margin-bottom: 1.5rem;
      }
    }
    &--span {
      color: #888888;
      @include mediaQueryMax("large") {
        font-size: 0.9rem;
      }
    }
    &--tick {
      border: 1px solid #cccccc;
      color: #11a54c;
    }
    &--btn {
      color: $blue-0;
      letter-spacing: 0.36px;
      font-size: 1.125rem;
      margin: 1.5rem auto;
      &:hover {
        color: $blue-1;
        text-decoration: underline !important;
        .package__rightArr {
          transform: translate(5px);
          transition: $transition-0;
        }
      }
      @include mediaQueryMax("large") {
        margin: 1.5rem 0;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
  }
  .checked {
    color: #0764b0;
    font-weight: bold;
  }
  .switch {
    -webkit-appearance: none;
    appearance: none;
    width: 74px;
    height: 34px;
    background-color: #c6c6c6;
    border-radius: 40px;
    border: 1px solid gray;
    outline: none;
    position: relative;
    transition: 200ms;
    background-color: mediumseagreen;
    @include mediaQueryMax("large") {
      width: 70px;
    }
    &:checked {
      background-color: mediumseagreen;
      border: 1px solid mediumseagreen;

      &::before {
        left: 41px;
        @include mediaQueryMax("large") {
          left: 32px;
        }
      }
    }
    &::before {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      top: 0;
      left: 0;
      @include mediaQueryMax("large") {
      }
    }
  }
}


.switch_price{
  @media screen and (max-width: 960px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.checked-group-pricing{
  @media screen and (max-width: 1000px) {
    padding-top: 100px !important;
  }
}

.package__feature_title{
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  font: normal normal bold 26px/40px Open Sans;
  color: #111111;
  padding: 1.25rem;
  margin: auto;
  max-width: calc(85.625rem - 30px) !important;
  text-align: center;
}

.item__check{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  & > img{
    width : 27px;
    height : 27px;
  }

  & > div{
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    margin-left: 20px;
  }
}