footer {
  color: $white-0;
  .bot_footer {
    background-color: $blue-1;
    // height: 10rem;
    padding: 2rem 0;
    @media screen and (max-width: 992px) {
      padding: 1rem 0;
    }
    .bot_footer-isMobile {
      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
      }
    }
    // .bot_footer_container{
    //   @media screen and (max-width: 760px) {
    //     padding: 0px;
    //   }
    // }
    .footer-copyrigh {
      letter-spacing: 0.09rem;
      font-size: 0.9rem;
      @media screen and (max-width: 760px) {
        margin-bottom: 1rem;
      }
    }
    &-link {
      letter-spacing: $text-0;
      font: normal normal normal 1.0625rem Roboto;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
      @media screen and (max-width: 760px) {
        align-items: center;
      }
    }
    .divider__col {
      padding: 2px 1rem;
      border-left: 2px solid #fff;
      @media screen and (max-width: 991px) {
        padding: 0px 0rem;
        border-left: none;
      }
    }
    // .divider_link-footer::before {
    //   content: "";
    //   margin-right: $m-6;
    //   margin-left: $m-6;
    //   height: 1.25rem;
    //   border-left: 2px solid $white-0;
    //   @include mediaQueryMax("extra-large") {
    //     margin-right: 1rem;
    //     margin-left: 1rem;
    //   }
    //   @include mediaQueryMax("large") {
    //     margin-right: 1rem;
    //     margin-left: 1rem;
    //   }
    //   @media screen and (max-width: 991px) {
    //     display: none;
    //   }
    // }
    .list-unstyled {
      @media screen and (max-width: 760px) {
        margin-bottom: 0.5rem;
      }
    }
  }
  .facebook__icon {
    margin-right: 15px;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
  .bot_footer-right {
    padding-right: 0px;
    align-items: center;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: 760px) {
      align-items: center;
      padding: 0;
    }
  }
}
