footer {
  color: $white-0;
  .top_footer {
    background-color: $blue-0;
    height: 18rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    &-title {
      padding-top: 6.25rem;
      margin-bottom: $m-7;
      font-size: $fs-title;
      font-weight: $fw-2;
      letter-spacing: $title-0;
      @include mediaQueryMax("large") {
        font-size: 2rem;
      }
    }
    &-form {
      max-width: 50rem !important;
      height: 3.25rem;
      margin-bottom: $m-7 !important;
      border: 1px solid $white-0;
      outline: none;
      &--button {
        max-width: 12.5rem;
        padding-top: auto;
        padding-bottom: auto;
        padding-left: 3.3125rem;
        padding-right: 3.3125rem;
        // padding: auto 53px;
        font-size: 1.125rem;
        font-weight: $fw-bold;
        letter-spacing: 0.9px;
        background-color: $blue-0;
        @include mediaQueryMax("small") {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          font-size: 1rem;
        }

        // background: $blue-0 0% 0% no-repeat padding-box;
        &:hover {
          background-color: $blue-1;
          transition: $transition-0;
        }
      }
    }
  }
  .bot_footer {
    background-color: $blue-1;
    height: 10rem;
    .footer-copyrigh {
      letter-spacing: 0.09rem;
      font-size: 0.9rem;
    }
    &-link {
      letter-spacing: $text-0;
      font: normal normal normal 1.0625rem Roboto;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
    }
    .divider_link-footer::before {
      content: "";
      margin-right: $m-6;
      margin-left: $m-6;
      height: 1.25rem;
      border-left: 2px solid $white-0;
      @include mediaQueryMax("extra-large") {
        margin-right: 1rem;
        margin-left: 1rem;
      }
      @include mediaQueryMax("large") {
        margin-right: 1rem;
        margin-left: 1rem;
      }
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }
  .bot_footer-right {
    align-items: center;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
