.consumer {
  &_app {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
  }
  &_title {
    color: $blue-0;
    font-size: $fs-text-banner;
    letter-spacing: 0px;
    margin-bottom: 1rem;
  }
  &_text {
    max-width: 37.5rem;
    color: $black-2;
    letter-spacing: $text-2;
    margin-bottom: 1.75rem;
  }
  &_download {
    color: $black-2;
    letter-spacing: $title-0;
    font-size: $fs-title;
    margin-bottom: 1.75rem;
  }
  &_downicon {
    margin-bottom: 13.5rem;
  }
}
