.consumer {
  background: #fafafa 0% 0% no-repeat padding-box;
  background-image: url("../../assets/images/For Consumer/Intersection 1.svg");
  background-position: bottom right;
  &_app {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    @include mediaQueryMax("large") {
      width: 10.5rem;
      height: 10.5rem;
    }
  }
  &_title {
    color: $blue-0;
    font-size: $fs-text-banner;
    letter-spacing: 0px;
    margin-bottom: 1rem;
  }
  &_text {
    max-width: 37.5rem;
    color: $black-2;
    letter-spacing: $text-2;
    margin-bottom: 1.75rem;
  }
  &_download {
    color: $black-2;
    letter-spacing: $title-0;
    font-size: $fs-title;
    margin-bottom: 1.75rem;
    @include mediaQueryMax("extra-large") {
      font-size: 2rem;
    }
  }
  &_downicon {
    margin-bottom: 13.5rem;
    .download--img {
      @include mediaQueryMax("large") {
        width: 46%;
      }
    }
  }
  .consumer__right {
    position: relative;
    &-img {
      position: absolute;
      right: 10%;
      top: 8%;
      @include mediaQueryMax("extra-large") {
        width: 90%;
        right: 2%;
        top: 13%;
      }
    }
    @include mediaQueryMax("medium") {
      display: none;
    }
  }
  .consumer_downicon-a {
    margin-right: 1.5rem;
    @media screen and (max-width: 320px) {
      margin-right: 1rem;
    }
  }
}
