.search_container {
  display: flex;
  width: 15rem;
  border: 1.8px solid #dddddd;
  align-items: center;
  padding: 0.4rem 0.5rem;
  & > input {
    border: none !important;
    width: 13rem;
    font-size: 0.8rem;
  }
  & > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
