.inventory {
  &_info_detail {
    display: flex;
    margin-top: 1rem;
    & > div {
      & > p {
        font-size: 0.92rem;
        line-height: 1.6rem;
        margin-left: 1rem;
        color: #404040;
      }
    }
  }
  &_img_big_product {
    width: 10rem;
    height: 10rem;
  }
}

.item_inventory_detail{
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #404040;
  margin-bottom: 8px;
  &>div:nth-child(1){
    width: 15rem;
  }
  // background : blue;
}

.inventory_img_small_product {
  width: 3rem;
  height: 3rem;
  margin-top: 0.5rem;
  margin-right: 5px;
}

.table-inventoryDetail .rt-td {
  border-right: 0px !important;
  height: 5rem !important;
}

.table-inventoryDetail .rt-tr-group {
  border-bottom: 0px !important;
}

.table-inventoryDetail {
  border: 0px !important;
}

.table-inventoryDetail .table-tr {
  font-size: 1rem !important;
  color: #585858 !important;
  letter-spacing: 0.3px;
}

.table-tr-red {
  font-size: 0.9rem !important;
  color: red !important;
  letter-spacing: 0.3px;
  margin-top: 0.71em;
}

.text_change_image {
  cursor: pointer;
  color: #1b68ac;
  font-size: 1rem;
  margin: 0.7rem 0px;
  font-weight: 500;
  text-decoration: underline;
}

.row_edit_retailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  & > img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  & > p {
    color: #1366ae;
    font-weight: 600;
    font-size: 1rem;
  }
  & > p:hover{
    text-decoration: underline;
  }
}

.confirmModal{
  border-radius: 15px;
  &__header{
    background: #1B68AC;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color : white;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &>img{
      width: 33px;
      height: 33px;
      position: absolute;
      right: 10px;
      top: 15px;
      cursor: pointer;
    }
  }
  &__body{
    background: white;
    text-align: center;
    color : #404040;
    font-weight : 600;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &>div{
      margin-top: 1.5rem;
      font-size: 1.2rem;
      letter-spacing: 0.3px;
    }
    &>div:nth-child(2){
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      .btn_popup_confirm{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2.8rem;
        background : #eeeeee;
        color : #404040;
        font-weight: 500;
        border-radius: 3px;
        cursor: pointer;
      }
      .btn_popup_confirm_no{
        background: #1B68AC !important;
        color: white !important;
      }
    }
  }
}
