.policy {
  padding: 3.75rem 1.5rem;
  &__container {
    max-width: 85.625rem;
    margin: 0 auto;
  }
  &__title {
    font-size: 3rem;
    letter-spacing: 0.075rem;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 3.75rem;

    @media screen and(max-width:700px) {
      font-size: 2rem;
    }
  }
  &__update {
    font-weight: bold;
    letter-spacing: 0.26px;
    color: #1a1a1a;
    text-align: left;
    margin-bottom: 2rem;
  }
  &__subtitle {
    font-size: 1.125rem;
    letter-spacing: 0.0225rem;
    color: #1a1a1a;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__text {
    letter-spacing: 0.01625rem;
    color: #333333;
    text-align: left;
    margin-bottom: 2rem;
  }
  &__link {
    padding-left: 2.5rem;
    &-item {
      text-align: left;
      letter-spacing: 0.01625rem;
      color: #333333;
      text-align: left;
      margin-bottom: 1rem;
    }
  }
}
