@import "Base/reset";
@import "Helpers/variable";
@import "Helpers/mixin";
@import "Helpers/extend";

@include mediaQueryMin("extra-large") {
  .container {
    max-width: 1640px !important;
  }
}
@import "../../components/Header/_header";
@import "../../components/Footer/_footer";
@import "../../components/Footer/top-footer";
@import "../../components/ContactUs/_contact-us";
@import "../../components/GiftCardTerms/giftCardTerms";
@import "../../components/Policy/_policy";
@import "../../components/ForgotPassWord/_forgot-password";
@import "../../components/PassWordReset/password-reset.scss";

@import "../../container/Home/Banner2/_home-banner2";
@import "../../container/Home/Features2/_home-features2";
@import "../../container/ForInvestor/InvestorBanner/investor-banner";
@import "../../container/ForInvestor/Story/story";
@import "../../container/ForInvestor/Team/team";
@import "../../container/ForInvestor/PartnerShips/_partner";
@import "../../container/ForInvestor/Contact/_contactUs-investor";
@import "../../container/ForConsumer/_consumer";
@import "../../container/Contact/_contact-home";
@import "../../container/Devices/DevicesBanner/_devices-banner";
@import "../../container/Devices/DevicesItem/_devices-item";
@import "../../container/Pricing/Carousel/_caruosel";
@import "../../container/Pricing/Package/package";
@import "../../container/Blogs/BlogsBanner/blogs-banner";


::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 20px;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #1B68AC;
  border-radius: 20px;
}

@media screen and (max-width : 500px){

  ::-webkit-scrollbar
  {
    width: 3px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
    background-color: #666666;
    border-radius: 20px;
  }
}

.confirmModal{
  border-radius: 15px;
  &__header{
    background: #1B68AC;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color : white;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &>img{
      width: 33px;
      height: 33px;
      position: absolute;
      right: 10px;
      top: 15px;
      cursor: pointer;
    }
  }
  &__body{
    background: white;
    text-align: center;
    color : #404040;
    font-weight : 600;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &>div{
      margin-top: 1.5rem;
      font-size: 1.2rem;
      letter-spacing: 0.3px;
    }
    &>div:nth-child(2){
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      .btn_popup_confirm{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2.8rem;
        background : #eeeeee;
        color : #404040;
        font-weight: 500;
        border-radius: 3px;
        cursor: pointer;
      }
      .btn_popup_confirm_no{
        background: #1B68AC !important;
        color: white !important;
      }
    }
  }
}

.row_button_report{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width : 600px){
  .row_button_report{
    flex-direction: column !important;
    align-items: 'flex-end';
  }
  .buttonUpload{
    display: none;
  }
}