
.general_information{

}


.title_signup{
    font-size: 1.2rem;
    color: #1b68ac;
    font-weight: 700;
    padding-bottom: 0.4rem;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.submit_signup{
    margin-top: 2rem;
    margin-bottom: 6rem;
    // width: 100%;
    border-radius: 0px;
    width: 10rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0764b0;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.36px;
    margin-right: 10px;
    border : 0px;
}

.signup_bottom{
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width : 767px) {
        justify-content: center;
    }
} 