.sign_up_container {
  background-image: url("../../assets/images/sign_up1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  padding-bottom: 5em;

  .sign_up_content {
    padding-top: 3.75rem;
    padding-left: 8.4rem;
    @media screen and (max-width: 1200px) {
      padding-left: 0;
    }

    .sign_up_left {
      h1 {
        color: #ffffff;
        font-size: 3.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        // margin-top: 3.75rem;
        @media screen and (max-width: 576px) {
          margin-bottom: 2.5rem;
        }
      }
      hr {
        margin: 0px;
        border-bottom: 7px solid #00ffe5;
        width: 37%;
        margin-bottom: 13rem;
        @media screen and (max-width: 1200px) {
          margin-bottom: 11rem;
        }
        @media screen and (max-width: 992px) {
          margin-bottom: 2rem;
        }
      }

      h4 {
        font-weight: 700;
        font-size: 1.6rem;
        color: #111111;
      }

      h3 {
        font-weight: 700;
        font-size: 2.2rem;
        color: #0764b0;
        letter-spacing: 1px;
        @media screen and (max-width: 576px) {
          margin-bottom: 2rem;
        }
      }

      hr:nth-last-of-type(1) {
        margin-bottom: 10px;
        border-bottom: 6px solid #0764b0;
        width: 26%;
      }

      p {
        font-size: 1.05rem;
      }
    }
  }

  .sign_up_form {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 10px #0000001a;
    border-radius: 5px;
    width: 82%;

    h4 {
      font-weight: 600;
      padding-bottom: 8px;
    }

    p {
      color: #888888;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.32px;
    }

    label {
      font-weight: 600;
    }
    .form_required {
      color: red;
    }

    .form-control {
      padding: 15px;
      height: auto;
      border-radius: 0px;
    }

    .form_checkbox {
      display: flex;
      justify-content: space-between;
      align-self: center;

      .form-check-input {
        width: 1.5em;
        height: 1.5em;
        background-color: #0764b0;
      }

      label {
        margin-top: 0.2rem;
        margin-left: 0.5em;
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
      }
    }
    .submit_btn {
      margin-top: 0.7rem;
      width: 100%;
      border-radius: 0px;
      padding: 10px;
      background-color: #0764b0;
      color: rgba(250, 244, 244, 0.938);
      font-size: 1.3rem;
      letter-spacing: 1.2px;
    }
  }
}
