.account {
  max-width: 1370px;
  margin: 0 auto;
  height: 100vh;

  table {
    th {
      background-color: #f5f5f5;
    }
  }

  .text_btn {
    color: #0868b0;
    background-color: white;
    border: 0;
    padding-right: 0.5rem;
    letter-spacing: 0.26px;
  }
  .edit_btn {
    border-right: 1px solid #dddddd;
    padding-right: 1em;
  }

  .sub_plan {
    color: #0868b0;
    font-weight: bold;
    cursor: pointer;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.36px;
  }

  h3 {
    font-size: 1.5rem;
    padding-top: 0.8em;
    font-weight: 600;
    letter-spacing: 0.46px;
  }

  p {
    margin: 0;
    letter-spacing: 0.26px;
  }
}
